@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
:root {
  --primary-color: #e96224;
  --hover-color: #ff6600;
}
.profiles {
  text-align: center;
}
.profiles > a > button {
  background: #e96224;
  padding: 8px;
  border: none;
  border-radius: 7px;
  color: #fff;
  font-weight: 700;
  margin: 5px;
}

.profiles > a > button:hover {
  background: #ff6600;
}
.profiles > a > button:focus {
  outline: none;
}

.contact-btn {
  background: #e96224;
  color: #fff;

  font-weight: 700;
}
.contact-btn:hover {
  background: #ff6600;
}
